body {
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h3 {
  margin-top: 0px;
  text-align: center;
  padding: 3px;
  background-color: cadetblue;
  color: black;
}

.container {
  display: flex;
}

div {
  padding: 1px;
}

.App {
  display: block;
}

.box {
  margin-top: 0px;
  display: flexbox;
  flex-direction: column;
  text-align: center;
  border: 1px solid gray;
  padding-bottom: 10px;
}

button {
  background-color: lightgrey;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  background: rgb(83, 83, 83);
  color: white;
  border: 1px solid cadetblue;
}

button:focus {
  background: rgb(83, 83, 83);
  color: white;
  border: 1px solid cadetblue;
}
